
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><h1>CREATE DEPARTMENT PAGE</h1></title>
  </head>
  <body>
    <h1>CREATE DEPARTMENT PAGE</h1>
    <br><br>
  <form class=dept-form method="post" action="department_add">
    <label>department code  :</label>
    <input type="text" name="dept_no" placeholder="enter department code">
    <br><br>
    <label>department name  :</label>
    <input type="text" name="dept_name" placeholder="enter department name">
    <br><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>department head name  :</label>
    <input type="text" name="dept_head" placeholder="department head">
    <br><br><br>
    <input type="submit" value="submit" id ="save"><br><br>
 <form>
  </body>
</html>
